.App {
  text-align: center;
}

.custom_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.taalul {
  height: auto;
  width: auto;
}

@media only screen and (max-width:700px){
  .image_link {
      font-size: 0.6em;
      padding: 0px;
      transition: all 0.0s linear;
  }
}