@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
  margin: 0;
  background: rgb(227,75,198);
  background: linear-gradient(90deg, rgba(227,75,198,1) 0%, rgba(0,224,255,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  /* font-family: 'Poppins', sans-serif; */
  font-family: Metropolice-Regular;
}
